@import "./colors.scss";

$font-family: "Open Sans", serif;

$body-font-color: $black;

$h1-font-size: 68px;
$h1-font-line-height: 1.2;

$h2-font-size: 42px;
$h2-font-line-height: 1.5;

$h3-font-size: 26px;
$h3-font-line-height: 1.5;

$h4-font-size: 16px;
$h4-font-line-height: 1.5;

$body-font-size: 12px;
$body-font-line-height: 2;

$sub-font-size: 9px;
$sub-font-line-height: 2;

html,
body {
    margin: 0 0 150px 0;
    padding: 0;
    font-size: $body-font-size;
    font-family: $font-family;
    color: $body-font-color;
    line-height: $body-font-line-height;
    background-color: $white;
}

h1 {
    font-size: $h1-font-size;
    font-family: $font-family;
    line-height: $h1-font-line-height;
    color: $black;
}

h2 {
    font-size: $h2-font-size;
    font-family: $font-family;
    line-height: $h2-font-line-height;
    color: $black;
}

h3 {
    font-size: $h3-font-size;
    font-family: $font-family;
    line-height: $h3-font-line-height;
}

h4 {
    font-size: $h4-font-size;
    font-family: $font-family;
    line-height: $h4-font-line-height;
}

a {
    text-decoration: none;
    color: $primary-medium;

    &:hover {
        color: $primary-dark;
    }
}

td,
th {
    font-size: $body-font-size;
}
