.button {
    background-color: $primary-medium;
    border: none;
    color: $white;
    font-size: $body-font-size;
    padding: 10px 40px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: $primary-dark;
    }

    &:active {
        background-color: $primary-light;
    }
}
