.collection-list {
    list-style-type: none;
    margin-left: -40px;

    .collection-list__item {
        border: solid 1px $grey-light;
        margin: 5px 0;
        padding: 20px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: $primary-medium;
            color: $white;
        }
    }
}
