.form {
    display: flex;
    flex-wrap: wrap;

    fieldset {
        border: none;
        margin: 10px 0;
    }

    input {
        padding: 10px;
        outline: none;
        border: 1px $grey-light solid;

        &:focus {
            border: 1px $primary-medium solid;
        }
    }

    label {
        display: block;
        font-weight: bold;
    }
}
