.page {
    padding: 40px;
    box-sizing: border-box;
    max-width: 1160px;
    margin: 50px auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);

    @media only screen and (max-width: 1200px) {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
