.pan-zoom {
    max-width: 800px;
    max-height: 800px;
    margin: 0 auto;
    overflow: hidden;
    border: solid 5px black;
    cursor: pointer;
    background-color: black;

    img {
        width: 100%;
    }
}
