.to-top-button {
    /* stylelint-disable */
    font-family: "Material Icons";
    /* stylelint-enable */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    border: solid 2px $white;
    color: $white;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: $primary-dark;
    }
}
