.tile-collection {
    box-sizing: border-box;
    margin: 50px auto;
    max-width: 1060px;
    padding: 0 20px;

    * {
        transition: 0.3s;
        transition-timing-function: ease-out;
    }

    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-left: -40px;
    }

    &__tile {
        align-items: center;
        color: $black;
        cursor: pointer;
        display: flex;
        font-family: industry-inc-base, sans-serif;
        font-size: 22px;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        position: relative;
        width: 300px;
    }

    &__tile-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        height: 100%;
        position: relative;
        top: 0;
        width: 100%;

        &:hover {
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
            top: -10px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .tile-collection {
        &__tile {
            height: 250px;
            width: 250px;
        }
    }
}

@media only screen and (max-width: 840px) {
    .tile-collection {
        margin: 50px auto 50px auto;

        ul {
            flex-direction: column;
        }

        &__tile {
            height: 250px;
            margin: 10px 0 10px 0;
            width: 100%;
        }

        &__tile-image {
            background-position: top;
        }
    }
}
